* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/bg.png');
}

.poem {
    display: -ms-flexbox;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    width: 600px;
    background: #EFEFEF;
    margin: 20px auto;
    border-radius: 20px;
    padding: 50px;
}

.poem h3 {
    font-style: italic;
}

.poem p {
    margin: 20px 0 0 0;
}